**/build/
build.sh
makefile
.DS_Store
/HomeLogs/Secrets.h
/TempLogger/Secrets.h
/TempLogger/stino.settings
/DistanceFinder/stino.settings

/DistanceFinder/XivelyKey.h

/SumpPump/Visual Micro/

/SumpPump/SumpPump.opensdf
